@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HTML Reviewer App</h1>
</div>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}