@model ICollection<HtmlRecordViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h3 class="display-4">HTML Reviewer App</h3>
        </div>
        <hr />
    </div>
</div>
<table id="htmlRecords" class="display hover row-border stripe sorting sorting_desc">
    <thead>
        <tr>
            <th>Created On</th>
            <th>Updated On</th>
            <th>Shareable URL</th>
            <th>HTML Record</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var htmlRecord in this.Model)
        {
            @await Html.PartialAsync("_HtmlRecordPartial", htmlRecord)
        }
    </tbody>
</table>
<hr />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}